* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
}
header {
  padding: 16px 0;
  background-color: rgb(112, 12, 27);
  color: white;
}
header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 24px;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container,
.produtos {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}
section .container {
  align-items: flex-start;
}
section h2 {
  margin-bottom: 16px;
  color: rgb(112, 12, 27);
}
section .text p {
  border-top: 3px solid rgb(112, 12, 27);
  padding-top: 20px;
  text-align: justify;
}
section img {
  margin-right: 32px;
}
section .container .produto .nomeProduto {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 10px;
}
section .container .produto .descricaoProduto {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: justify;
}
section .container .produto button {
  font-size: 18px;
  color: white;
  background-color: rgb(112, 12, 27);
  border-radius: 5px;
  border-style: none;
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
}
#borda {
  border-top: 3px solid rgb(112, 12, 27);
  padding-top: 20px;
}

section .text p {
  border-top: 3px solid rgb(112, 12, 27);
  padding-top: 20px;
  text-align: justify;
  margin: 10px;
}

.text h2 {
  margin: 10px;
}

@media screen and (max-width: 650px) {
  img {
    max-width: 95%;
    margin: 10%;
  }

  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
  }
  section .container p {
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
  }
  .produtos {
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
  }
  section .container {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1180px) {
  section .container .produto .nomeProduto header {
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 10px;
  }
  section .container .produto .descricaoProduto h1 {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: justify;
  }
  section .container .produto button {
    font-size: 18px;
    color: white;
    background-color: rgb(112, 12, 27);
    border-radius: 5px;
    border-style: none;
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
  }
  section .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  section .container {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
  }

  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
  }

  .produtos {
    width: 97%;
  }
}
